.navbar {
 min-height: 80px;
}

.navbar-brand {
 padding: 0 15px;
 height: 80px;
 line-height: 80px;
}

.navbar-toggle {
 /* (80px - button height 34px) / 2 = 23px */
 margin-top: 23px;
 padding: 9px 10px !important;
}

@media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }

 p{
   margin-right: 5px;
 }
}

figure figcaption {
 margin-top: 5px;
}
figure{

 display: block;
 margin-left: auto;
 margin-right: auto;
}


.myApps{
   height: 200px;
   width: 200px;
   margin-bottom: 35px;
   display: block;
   background: linear-gradient(#9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
   color: white;
   font-size: 18px;
   text-align: center;
}

.myApps:hover {
   background: linear-gradient(#ffefc9, #ffb300);
   color: black;
   font-weight: bold;
 }
.btn {
   white-space: normal;
}
